.Animation-container {
	background-color: white;
	min-width: 200px;
	/* max-width: 200px; */
	width: 500px;
	height: 175px;
	/* max-height: 100px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px;
	color: black;
}

.Animation-image {
	min-width: 50px;
	min-height: 50px;

	max-width: 150px;
	max-height: 150px;
	padding: 8px;
}

.Animation-buttons {
	padding: 8px;
}

.Animation-vcenter {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h5 {
	margin: 8px;
}
