.SettingsModal {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 24px;
	width: 400px;
}

.SettingsModal-hcenter {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 8px;
}
